.createPost{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 80%;
}

.createPost__top{
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.createPost__top>form{
    display: flex;
    flex: 1;
}

.createPost__top>form>input{
    border: none;
    outline-width: 0;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.createPost__fileUpload{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.createPost__fileSelector{
    width: 100%;
}

.createPost__top>form>button{
    height: 0;
    width: 0;
    background-color: transparent;
    color: transparent;
    border: none;
}

.createPost__bottom{
    display: flex;
    justify-content: space-evenly;
}

.createPost__option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.createPost__option>h3{
    /* margin-left: 10px; */
    font-size: medium;
}

.createPost__option:hover{
    background-color: #eff2f5;
    border-radius: 20px;
}
